.welcome-section{
   width: 100%;
  @media (min-width: 768px){
    .welcome-section{
        display: flex;
    }
  }



    &____container{
        width: 100%;
         max-width: 1140px;
         margin: auto 0;
    }
   
    &__title-h2{
        font-size: 48px;
        color: #333333;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
        

        
    }
    &__text{
        color: #333333;   /*нет изменений почему?*/
        font-size: 16px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        
        top: auto;
        padding-left: 15px;
        padding-right: 15px;
       
    }
    &__term{
        color: #333333;
        font-size: 24px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
    }
}
