.welcome-section{
    width: 100%;
    font-family: $fonts;
    
    &__title-h2{
        font-family: $fonts;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        color: #333333;
    }
    
    &__text{
        font-family: $fonts;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
    &__term{
        font-weight: 500;
        font-size: 24px;
    }
}

@media (min-width: $tablet) {
    .welcome-section{
        display: flex;
        justify-content: space-between;

        &__img{
            max-width: 564px;
            width: 47%;
            object-fit: contain;
        }
        &__text{
            max-width: 540px;
            width: 47%;
        }
        &__logo{
             max-width: 384px;
             width: 37%;
            object-fit: contain;
        }
        &__title-h2{
            font-size: 48px;
            line-height: 56px;
        }
    }
}
